<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo">
                <img src="../../../../../assets/img/branding/logo.svg" width="42">
            </span>
            <span class="app-brand-text menu-text fw-bold ms-2">UCIDOS</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon fs-4 d-none d-xl-block align-middle"></i>
            <i class="bx bx-x bx-sm d-xl-none d-block align-middle"></i>
        </a>
    </div>

    <div class="menu-divider mt-0"></div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item active">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons far fa-house"></i>
                <div data-i18n="Dashboards">Papan Pemuka</div>
            </a>
        </li>

        <!-- Apps & Pages -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Tugas Kerja</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link" data-bs-toggle="modal" data-bs-target="#modal-addRecord">
                <i class="menu-icon tf-icons far fa-file-circle-plus"></i>
                <div>Tambah Permohonan</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons far fa-briefcase"></i>
                <div data-i18n="New Tasks">Tugasan Baharu</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons far fa-list-check"></i>
                <div data-i18n="Update Tasks">Kemaskini kerja</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Peta Digital</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons far fa-map"></i>
                <div data-i18n="Application Map">Peta Permohonan</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons far fa-globe-asia"></i>
                <div data-i18n="Geospatial Database">Pangkalan Data GIS</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Penjejak Permohonan</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons far fa-table-list"></i>
                <div data-i18n="Brownfield Application">Permohonan Brownfield</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons far fa-cabinet-filing"></i>
                <div data-i18n="Application Summary">Rumusan Permohonan</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Bantuan</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons far fa-life-ring"></i>
                <div data-i18n="Ticket">Tiket</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="app-invoice-list.html" class="menu-link">
                        <div data-i18n="Create Ticket">Cipta Tiket</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="app-invoice-preview.html" class="menu-link">
                        <div data-i18n="List Tickets">Senarai Tiket</div>
                    </a>
                </li>
            </ul>
        </li>
        
    </ul>
</aside>


<script src="../../../../../assets/vendor/js/menu.js"></script>

<!-- Main JS -->
<script src="../../../../../assets/js/main.js"></script>