  <!-- Modal template -->
    <div class="modal modal-transparent fade" id="modal-addRecord" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <a
              href="javascript:void(0);"
              class="btn-close text-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></a>
            <p class="text-white text-large fw-light mb-3">Masukkan No Rujukan KUTT</p>
            <form method="post" action="../../../staff/tables/registration/">
            <div class="input-group input-group-lg mb-3">
              
                <input
                  type="text"
                  class="form-control bg-white border-0"
                  placeholder="Sila isi No Rujukan"
                  aria-describedby="subscribe"
                />
                <button class="btn btn-primary">Tambah</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
