<!DOCTYPE html>

<html
  lang="en"
  class="light-style"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../../assets/"
  data-template="horizontal-menu-template-no-customizer"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Papan Pemuka | Digstry</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../../assets/img/favicon/logo.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="../../../../assets/vendor/fonts/boxicons.css" />
    <!-- <link rel="stylesheet" href="../../../../assets/vendor/fonts/fontawesome.css" /> -->
    <link rel="stylesheet" href="../../../../assets/vendor/fonts/fontawesome-v6/css/all.css" />
    <link rel="stylesheet" href="../../../../assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../../../assets/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="../../../../assets/vendor/css/rtl/theme-default.css" />
    <link rel="stylesheet" href="../../../../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../../../assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="../../../../assets/vendor/libs/jumlah-jarak-charts/apex-charts.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="../../../../assets/vendor/css/pages/app-calendar.css" />
    <link rel="stylesheet" href="../../../../assets/vendor/libs/fullcalendar/fullcalendar.css" />

    <!-- Helpers -->
    <script src="../../../../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../../../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
      <div class="layout-container">
        <!-- Navbar -->
        <div id="navbarMenu"></div>
        <!-- / Navbar -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Menu -->
            <!-- <div id="navbarMenu"></div> -->
            <!-- / Menu -->

            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <!-- Gamification Card -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                  <div class="card h-100">
                    <div class="card-header">
                      <h3 class="card-title mb-2">Selamat Datang {Fullname}</h3>
                      <!-- <span class="d-block text-nowrap mb-4">Best seller of the month</span> -->
                    </div>
                    <div class="card-body">
                      <div class="row align-items-end">
                        <div class="col-6">
                          <h1 class="display-6 text-primary pt-4 pb-1 mb-2">{10}</h1>
                          <small class="d-block mb-3">Anda mempunyai <br />projek yang belum selesai dan perlu disemak atau menghantar dokumen.</small>

                          <a href="javascript:;" class="btn btn-sm btn-primary">Lihat Perincian</a>
                        </div>
                        <div class="col-6">
                          <img
                            src="../../../../assets/img/illustrations/boy-with-laptop-light.png"
                            width="140"
                            height="150"
                            class="rounded-start"
                            alt="View Sales"
                            data-app-light-img="illustrations/boy-with-laptop-light.png"
                            data-app-dark-img="illustrations/boy-with-laptop-dark.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Gamification Card -->

                <!-- Statistics cards & Revenue Growth Chart -->
                <div class="col-12 col-lg-4">
                  <div class="row">
                    <!-- Statistics Cards -->
                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                      <div class="card h-100">
                        <div class="card-body text-center">
                          <div class="avatar mx-auto mb-2"> 
                            <span class="avatar-initial bg-label-primary rounded-circle"
                              ><i class="fas fa-route fs-4"></i></span>
                              
                          </div> 
                          <span class="d-block text-nowrap">Izin Lalu</span>
                          <h2 class="mb-0">{00}</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                      <div class="card h-100">
                        <div class="card-body text-center">
                          <div class="avatar mx-auto mb-2">
                            <span class="avatar-initial bg-label-info rounded-circle">
                              <i class="far fa-file fs-4"></i>
                            </span>
                          </div>
                          <span class="d-block text-nowrap">Permit Kerja</span>
                          <h2 class="mb-0">{00}</h2>
                        </div>
                      </div>
                    </div>
                    <!--/ Statistics Cards -->
                    <!-- Statistics Cards -->
                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                      <div class="card h-100">
                        <div class="card-body text-center">
                          <div class="avatar mx-auto mb-2"> 
                            <span class="avatar-initial bg-label-success rounded-circle"
                              ><i class="fas fa-person-digging fs-4"></i></span>
                              
                          </div> 
                          <span class="d-block text-nowrap">Sijil S Kerja</span>
                          <h2 class="mb-0">{00}</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-6 mb-4">
                      <div class="card h-100">
                        <div class="card-body text-center">
                          <div class="avatar mx-auto mb-2">
                            <span class="avatar-initial bg-label-danger rounded-circle">
                              <i class="far fa-dollar fs-4"></i>
                            </span>
                          </div>
                          <span class="d-block text-nowrap">Depo. Return</span>
                          <h2 class="mb-0">{00}</h2>
                        </div>
                      </div>
                    </div>
                    <!--/ Statistics Cards -->
                  </div>
                </div>
                <!--/ Statistics cards & Revenue Growth Chart -->

                <!-- Multi Radial Chart -->
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                  <div class="card h-100">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="card-title mb-2">Jumlah Projek Bagi Tahun Ini</h5>
                      <div class="dropdown">
                        <button
                          class="btn btn-sm btn-outline-secondary dropdown-toggle"
                          type="button"
                          id="orederStatistics"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          2022
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                          <a class="dropdown-item" href="javascript:void(0);">2020</a>
                          <a class="dropdown-item" href="javascript:void(0);">2021</a>
                          <a class="dropdown-item" href="javascript:void(0);">2022</a>
                        </div>
                      </div>
                    </div>
                    <div id="growthRadialChart"></div>
                    <div class="avatar-group d-flex align-items-center" style="padding-left: 24px;">
                      <div
                        class="avatar avatar-sm pull-up"
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        title="TNB"
                      >
                        <img src="../../../../assets/img/provider/TNB.jpg" alt="Avatar" class="rounded-circle"/>
                      </div>
                      <div
                        class="avatar avatar-sm pull-up"
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        title="TM"
                      >
                        <img src="../../../../assets/img/provider/TM.jpg" alt="Avatar" class="rounded-circle" />
                      </div>
                      <div
                        class="avatar avatar-sm pull-up"
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        title="CELCOM"
                      >
                        <img src="../../../../assets/img/provider/CELCOM.jpg" alt="Avatar" class="rounded-circle" />
                      </div>
                      <div
                        class="avatar avatar-sm pull-up"
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        title="MAXIS"
                      >
                        <img src="../../../../assets/img/provider/MXS.jpg" alt="Avatar" class="rounded-circle" />
                      </div>
                      <div
                        class="avatar avatar-sm pull-up"
                        data-bs-toggle="tooltip"
                        data-popup="tooltip-custom"
                        data-bs-placement="top"
                        title="SATU"
                      >
                        <img src="../../../../assets/img/provider/SATU.jpg" alt="Avatar" class="rounded-circle" />
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Multi Radial Chart -->

                <!-- Weekly Order Summary -->
                <div class="col-12 col-xl-8 mb-4">
                  <div class="card">
                    <div class="row row-bordered m-0">
                      <!-- Order Summary -->
                      <div class="col-12 col-md-12 px-0">
                        <div class="card-header d-flex justify-content-between align-items-center">
                          <h5 class="card-title mb-0">Jumlah Jarak</h5>
                        </div>
                        <div class="card-body p-0">
                          <div id="orderSummaryChart"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Weekly Order Summary -->

                <!-- Latest Update -->
                <div class="col-md-6 col-lg-6 col-xl-4 col-xl-4 mb-4">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center mb-3">
                      <h5 class="card-title mb-0">Pending Lawatan Tapak Awal(LTA)</h5>
                      <div class="dropdown">
                        <button
                          class="btn btn-sm btn-outline-secondary dropdown-toggle"
                          type="button"
                          id="orederStatistics"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          2022
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                          <a class="dropdown-item" href="javascript:void(0);">2020</a>
                          <a class="dropdown-item" href="javascript:void(0);">2021</a>
                          <a class="dropdown-item" href="javascript:void(0);">2022</a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <ul class="p-0 m-0">
                        <li class="d-flex mb-4">
                          <div class="avatar avatar-sm flex-shrink-0 me-3">
                            <span><img src="../../../../assets/img/provider/TNB.jpg"/></span>
                          </div>
                          <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                            <div class="me-2">
                              <p class="lh-1 mb-0">KN.PWR/A3/2022/01/0001</p>
                              <small class="text-muted">02:00 PM - 03:00 PM</small>
                            </div>
                            <!-- <div class="item-progress">10k</div> -->
                          </div>
                        </li>

                        <li class="d-flex mb-4">
                          <div class="avatar avatar-sm flex-shrink-0 me-3">
                            <span><img src="../../../../assets/img/provider/SATU.jpg"/></span>
                          </div>
                          <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                            <div class="me-2">
                              <p class="lh-1 mb-0">KN.WTR/A3/2022/01/0002</p>
                              <small class="text-muted">10:00 AM - 11:30 PM</small>
                            </div>
                          </div>
                        </li>

                        <li class="d-flex mb-4">
                          <div class="avatar avatar-sm flex-shrink-0 me-3">
                            <span><img src="../../../../assets/img/provider/MXS.jpg"/></span>
                          </div>
                          <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                            <div class="me-2">
                              <p class="lh-1 mb-0">KN.TEL/A3/2022/01/0003</p>
                              <small class="text-muted">04:00 PM - 05:00 PM</small>
                            </div>
                          </div>
                        </li>

                        <li class="d-flex mb-4">
                          <div class="avatar avatar-sm flex-shrink-0 me-3">
                            <span><img src="../../../../assets/img/provider/CELCOM.jpg"/></span>
                          </div>
                          <div class="gap-2 d-flex flex-wrap justify-content-between align-items-center w-100">
                            <div class="me-2">
                              <p class="lh-1 mb-0">KN.TEL/A3/2022/01/0004</p>
                              <small class="text-muted">03:00 PM - 04:00 PM</small>
                            </div>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
                <!--/ Latest Update -->
              </div>
            </div>
            <!--/ Content -->

            <!-- Footer -->
            <div id="footer"></div>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!--/ Content wrapper -->
        </div>

        <!--/ Layout container -->
      </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
    <!--/ Layout wrapper -->

    <style>
      .bg-menu-theme.menu-horizontal.nav {
          background-color: #fff !important;
          /* box-shadow: 0 0.125rem 0.25rem rgb(147 158 170 / 40%); */
      }
    </style>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../../assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../../../assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../../assets/vendor/libs/jumlah-jarak-charts/apexcharts.js"></script>
    

    <!-- Main JS -->
    <script src="../../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../../assets/js/cards-analytics-client.js"></script>

    <script>
      $(function() {
          $("#navbarMenu").load("../layouts/navbar.html");
          $("#quickLinks").load("../layouts/quick-links.html");
          $("#footer").load("../layouts/footer.html");
      });
    </script>
  </body>
</html>
